.heading img {
	max-width: 100%;
	padding: 4em 0;
}

.heading {
	background: url(../images/signals.png);
	background-size: auto 100%;
	background-repeat: repeat-x;
}

.infoblurb-left {
	background-image: linear-gradient(to right, rgba(255,255,255,50), rgba(255,255,255,0)), url(../images/art-electronics.jpeg);
    background-size: cover;
	background-attachment: fixed;
}

.infoblurb-right {
	background-image: linear-gradient(to left, rgba(255,255,255,50), rgba(255,255,255,0)), url(../images/art-electronics.jpeg);
	background-size: cover;
	background-attachment: fixed;
}

.padded {
	margin: 3rem 0;
}

.footer {
	opacity: 0.8;
	font-size: 80%;
}

#modular-io {
	padding: 2rem 0;
}

#wiggle-spine {
	padding: 3rem 0;
}

#oshw-logo img {
	float: right;
	height: 5em;
	opacity: 0.7;
	margin: 1em 0;
}

#irc-info {
	opacity: 0.8;
	font-size: 80%;
	text-align: center;
	width: 100%;
	margin: 0 0 1em 0;
}