.heading img {
	max-width: 100%;
	padding: 4em 0;
}

.heading {
	background: url(../images/signals.png);
	background-size: auto 100%;
	background-repeat: repeat-x;
}

.infoblurb-left {
	background-image: linear-gradient(to right, rgba(255,255,255,50), rgba(255,255,255,0)), url(../images/art-electronics.jpeg);
    background-size: cover;
	background-attachment: fixed;
}

.infoblurb-right {
	background-image: linear-gradient(to left, rgba(255,255,255,50), rgba(255,255,255,0)), url(../images/art-electronics.jpeg);
	background-size: cover;
	background-attachment: fixed;
}

.padded {
	margin: 3rem 0;
}

.footer {
	color: #888;
	font-size: 75%;
}

#modular-io {
	padding: 2rem 0;
}

#wiggle-spine {
	padding: 3rem 0;
}
